{% load menu_tags %}
<div class="navbar navbar-default" role="navigation">
  <div class="navbar-header">
  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
  <span class="sr-only">Toggle navigation</span>
  <span class="icon-bar"></span>
  <span class="icon-bar"></span>
  <span class="icon-bar"></span>
  </button>
  <a class="navbar-brand" href="#">Project name</a>
  </div>
      <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
      {% show_menu 0 1 100 100 "menu.html" %}
      </ul>
      </div>